@use "../../scss/vars";

.schedule {
  width: 100%;

  &__week {
    overflow: hidden;
    &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin: 0 20px;
      font-weight: 500;
      font-size: 18px;
      background-color: #333;
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
      &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: #000;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        user-select: none;
        transition: all 0.2s linear;
        &:hover {
          background-color: vars.$accent-color;
          color: #fff;
        }
      }
    }
    &__schedule {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 10px;
      padding: 20px;
      overflow-x: scroll;

      &__day {
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex-wrap: nowrap;
        font-size: 14px;
        &__title {
          text-align: center;
          background-color: #e3e3e3;
          padding: 5px 10px;
          border-radius: 10px;
          color: #000;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
