@use "../../scss/vars";

.middlegrade {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @media (max-width: vars.$mobile-bp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 10px;
  }
}
