@use "../../scss/vars";

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  &__title {
    font-size: 24px;
    font-weight: 700;
  }
  &__subtitle {
    font-size: 20px;
    text-align: center;
  }
  &__input,
  &__button {
    max-width: 600px;
    width: 100%;
    padding: 10px;
    background-color: #222;
    border: 1px solid #777;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.15s linear;
    &:hover,
    &:focus {
      background-color: #333;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }
  }
  &__button {
    cursor: pointer;
  }
  &__error {
    color: vars.$red;
    font-size: 16px;
  }
}
