.exams {
  margin: 20px auto;
  font-size: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  text-align: left;
  display: flex;
  gap: 30px;
  overflow-x: auto;
  &__element {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    padding: 25px;
    border-radius: 10px;
    gap: 10px;
    margin: 20px 0;
    position: relative;
    background-color: #1d1d1d;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  &__name {
    font-size: 16px;
  }

  &__grade {
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #eeeeee;
    color: #000;
  }

  &__date {
    font-size: 14px;
    position: absolute;
    background-color: #000;
    font-weight: 600;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    top: -5px;
    left: -10px;
  }
}
