@use "../../scss/vars";

.logout {
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
    background-color: vars.$accent-color;
    color: #fff;
  }
}
