@use "../../scss/vars";

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }
  &__separator {
    background-color: #ddd;
    height: 30px;
    width: 2px;
  }

  &__avatar {
    justify-content: flex-end;
    cursor: pointer;
    &__img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}
.heading {
  font-size: 32px;
  margin: 3vh 0;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.15s linear;
  padding: 10px;
  &.active,
  &:hover {
    background-color: rgba(85, 85, 85, 0.8);
    border-radius: 15px;
  }
  @media (max-width: vars.$mobile-bp) {
    text-align: center;
    justify-content: center;
  }
}
