* {
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color: #333;
	color: #eee;
	text-align: center;
	font-weight: 400;
}

.inner_text,
.text_block {
	background-color: #555;
	width: 60vw;
	margin: 0 auto;
	font-size: clamp(14px, 4.2vw, 20px);
	padding: 2.6rem;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.text_block {
	width: 50vw;
	line-height: 1.5;
	text-align: left;
}

.actuality {
	margin-top: 2vh;
}

.light_theme {
	background-color: #fff;
	color: #555;
	.inner_text,
	.text_block,
	select {
		background: linear-gradient(#fff, #dadbf8);
		color: #333;
		outline: 1px solid #ddd;
	}
	.theme-btn {
		svg {
			fill: #000;
		}
	}
}

.theme-btn {
	position: absolute;
	padding: 5px;
	top: 3vh;
	right: 3vw;
	border-radius: 50%;
	background: none;
	border: none;
	cursor: pointer;
	transition: all 0.2s linear;
}

.theme-btn:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

select {
	background-color: #555;
	color: #fff;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: clamp(14px, 4.2vw, 20px);
	width: 50vw;
	margin: 20px;
	border: none;
	padding: 10px;
	border-radius: 20px;
}

.open_video {
	width: 25vw;
	display: block;
	color: #000;
	text-decoration: none;
	text-align: center;
	margin: 20px auto 0;
	padding: 15px;
	background-color: #fff;
	border-radius: 10px;
	transition: all 0.2s linear;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.open_video:hover {
	background-color: #eee;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
