@use "../../scss/vars";

.specList {
  display: flex;
  align-items: center;
  gap: 20px;
  @media (max-width: vars.$mobile-bp) {
    flex-direction: column;
    align-items: center;
  }
  &__list {
    @media (max-width: vars.$mobile-bp) {
      width: 80vw;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 40vw;
    background-color: #555;
    color: #fff;
    font-family: vars.$font-family;
    font-size: 20px;
    border: none;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    user-select: none;
    position: relative;
    &__text {
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @media (max-width: vars.$mobile-bp) {
        font-size: 16px;
      }
    }
    &__active {
      @media (max-width: vars.$mobile-bp) {
        width: 80vw;
      }
      width: 40vw;
      padding: 0;
      list-style: none;
      text-align: center;
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 1;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
      max-height: 80vh;
      overflow-y: auto;
      user-select: none;
      border-radius: 20px;
      &__item {
        background-color: #555;
        cursor: pointer;
        padding: 8px;
        transition: all 0.2s linear;
        font-size: 18px;
        &:hover {
          background-color: #333;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
  &__button {
    @media (max-width: vars.$mobile-bp) {
      width: 80vw;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    padding: 15px;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: all 0.2s linear;
    &:hover {
      background-color: vars.$accent-color;
      color: #fff;
    }
  }
  &__filter {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    &__checkbox {
      overflow: hidden;
      border: 2px solid vars.$accent-color;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background: transparent;
      cursor: pointer;
      transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
      &__check {
        background-color: vars.$accent-color;
      }
    }
  }
}
